#red-dead-redemption-2 {
    background: url(assets/game-cover/red-dead-redemption-2.jpg) no-repeat center;
    background-size: cover;
}

#grand-theft-auto-v {
    background: url(assets/game-cover/grand-theft-auto-v.jpg) no-repeat;
    background-position: center top -55px;
    background-size: cover;
}

#far-cry-5 {
    background: url(assets/game-cover/far-cry-5.jpg) no-repeat;
    background-position: center top -220px;
    background-size: cover;
}

#far-cry-new-dawn {
    background: url(assets/game-cover/far-cry-new-dawn.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#half-life-2 {
    background: url(assets/game-cover/half-life-2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#assassins-creed-odyssey {
    background: url(assets/game-cover/assassins-creed-odyssey.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#far-cry-4 {
    background: url(assets/game-cover/far-cry-4.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#the-forest {
    background: url(assets/game-cover/the-forest.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#valheim {
    background: url(assets/game-cover/valheim.png) no-repeat;
    background-position: center;
    background-size: cover;
}

#the-іurvivalists {
    background: url(assets/game-cover/the-іurvivalists.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#human-fall-flat {
    background: url(assets/game-cover/human-fall-flat.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#assassins-creed-2 {
    background: url(assets/game-cover/assassins-creed-2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#grand-theft-auto-san-andreas {
    background: url(assets/game-cover/grand-theft-auto-san-andreas.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#watch-dogs-2 {
    background: url(assets/game-cover/watch-dogs-2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#raft {
    background: url(assets/game-cover/raft.png) no-repeat;
    background-position: center;
    background-size: cover;
}

#detroit-become-human {
    background: url(assets/game-cover/detroit-become-human.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#the-witcher-wild-hunt {
    background: url(assets/game-cover/the-witcher-wild-hunt.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#stalker-shadow-of-chernobyl {
    background: url(assets/game-cover/stalker-shadow-of-chernobyl.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#life-is-strange-2 {
    background: url(assets/game-cover/life-is-strange-2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#dying-light {
    background: url(assets/game-cover/dying-light.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
